/* for assigning variables to colors... It looked cool so I wanted to try */
:root {
   --primary: ;
   --business: ;
   --personal: var(--primary);
   --light: ;
   --dark: ;
   --danger: ;

   --shadow: ;

   --business-glow: ;
   --personal-glow: ;
}

* {
padding: 0px;
margin: 0px;
box-sizing: border-box;
font-family: ;
}
/* rather than selecting specific inputs, this line just excludes certain inputs */
input:not([type="radio"]):not([type="checkbox"]), button {

}
/* 
body {
   
   min-height: 100vh; 
   display: flex;
   flex-direction: column;
}
 
header {
   padding: 2% 1%;
   max-width: 800px;
   width: 100%;
   margin: 0 auto;
}

header h1 {
   font-size: 2.5rem;
   font-weight: 200px;
   margin-bottom: 1%;
}

#new-task-container {
   display: flex; 
}

input, button {
   appearance: none;
   border: none;
   outline: none;
   background: none;
}

button:hover {
   cursor: pointer;
}


#task-input {
   flex: 1 1 0%;
}

#tasks .task .content {
   flex: 1 1 0%;
} */
